<?xml version="1.0" encoding="UTF-8"?>
<configuration scan = "true" scanPeriod = "60 seconds" >
	
	<!-- Author : khan -->
	<!-- Reference Documentation -->
	<!-- https://github.com/danielwegener/logback-kafka-appender -->
	
	<property name = "LOG_LEVEL" value = "INFO" />
	<property name = "LOG_PATTERN" value = "[%d{yyyy-MM-dd HH:mm:ss.SSS}] %highlight(%-5level) %boldMagenta(%thread) %boldCyan(%logger{15}) - %msg %n" />
	
	<!-- Console Appender -->
	<appender name = "CONSOLE" class = "ch.qos.logback.core.ConsoleAppender" >
		<layout class = "ch.qos.logback.classic.PatternLayout" >
			<Pattern >${LOG_PATTERN}</Pattern >
		</layout >
	</appender >
	
	<!-- Kafka Appender -->
	<appender name = "kafkaAppender" class = "com.github.danielwegener.logback.kafka.KafkaAppender" >
		<encoder >
			<pattern >${LOG_PATTERN}</pattern >
		</encoder >
		<topic >consumer_test</topic >
		<keyingStrategy class = "com.github.danielwegener.logback.kafka.keying.NoKeyKeyingStrategy" />
		<deliveryStrategy class = "com.github.danielwegener.logback.kafka.delivery.AsynchronousDeliveryStrategy" />
		<producerConfig >bootstrap.servers=my-kafka:9092</producerConfig >
		<appender-ref ref = "CONSOLE" />
	</appender >
	
	<appender name = "ASYNC" class = "ch.qos.logback.classic.AsyncAppender" >
		<appender-ref ref = "kafkaAppender" />
	</appender >
	
	<!-- root level config -->
	<logger name = "io.study.kafka.CONSOLE" level = "DEBUG" >
		<appender-ref ref = "CONSOLE" />
	</logger >
	
	<logger name = "io.study.kafka.kafkaAppender" level = "INFO" additivity = "false" >
		<appender-ref ref = "kafkaAppender" />
	</logger >
	
	<logger name = "ASYNC" class = "ch.qos.logback.classic.AsyncAppender" >
		<appender-ref ref = "kafkaAppender" />
	</logger >
	
	<root level = "${LOG_LEVEL}" >
		<appender-ref ref = "CONSOLE" />
		<appender-ref ref = "ASYNC" />
	</root >
</configuration >